@import "../../index.css";

.sponser-sec{
    display: flex;
    background-color: var(--grey);
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px 0;
    margin-top: 5rem;
}