@import  '../../index.css';

.nav-btn{
    background-color: var(--primary-color);
    width: 150px !important;
    padding: 15px 0 ;
    border: none;
    font-weight: 500;
    color: white;
}
.hero-btn{
    background-color: var(--primary-color);
    width: 50px !important;
    padding: 15px 0 ;
    margin: 25px 10px;
    border: none;
    font-weight: 500;
    color: white;
}