@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
--primary-color:#cf8044;
--secondary-color:#f5f1f0;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
