@import  '../../index.css';

.main-room{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 0;
    align-items: center;
}

.room{
    display: flex;
   margin-top: 4rem;
    padding: 0 5rem;
}

.room-upper{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    justify-content: center;
}
.room-lower{
    width: 50%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAF3EF;
}
.room-lower img{
   height: 450px;
}